.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-bottom: 1px solid black;
}

.greeting {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  transition: color 0.3s ease;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.close-icon,
.burger-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
/* adds hmburger for smaller screens */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    flex-direction: column;
    position: relative;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 35%);
    transform: translateX(-43%);
    width: calc(100vw - 40px);
    max-width: 150px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-item {
    text-align: center;
    margin: 0px;
  }

  .nav-item a {
    display: block;
    padding: 13px 20px;
    color: #333333;
  }

  .nav-item a:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
}
/* hide hamburger on bigger screens */
@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .nav {
    flex-direction: row;
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    margin-left: 20px;
  }

  .nav-item a {
    padding: 10px 15px;
  }
  .nav-item a:hover {
    cursor: pointer;
  }
}
