.project-page {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -50;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 5px; /* Added for consistency with other sections */
  background-color: #ffffff; /* Set a background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.project-header {
  text-align: center;
  margin-bottom: 20px; /* Added margin for spacing */
}

.project-header h1 {
  font-size: 2.5rem; /* Increased font size */
  color: #1b5d83; /* Matching color */
}

.cta-button {
  background-color: #08293f; /* Darker button color */
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px; /* Consistent border radius */
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Added margin for spacing */
}

.cta-button:hover {
  background-color: #1b5d83; /* Hover color */
}

.media-section {
  margin: 20px 0;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-gallery img {
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* .video-demo {
  text-align: center;
  background-color: #08293f;
  padding-bottom: 50px;
  /* margin-bottom: 50px; */
/* } */

.video-container {
  background-color: #08293f;
  position: relative; /* Positioning context for the absolute child */
  width: 100%; /* Full width */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 20px;
}

.technologies-used,
.features-section,
.testimonials-section {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0; /* Added margin for list items */
  color: #4d4d4d; /* Consistent text color */
}

blockquote {
  font-style: italic;
  margin: 10px 0;
  padding: 10px;
  border-left: 4px solid #1b5d83; /* Matching border color */
  background-color: #f9f9f9; /* Light background for blockquotes */
}

.project-footer {
  text-align: center;
  margin-top: 40px;
  color: #666; /* Darker footer text */
}
